Django==1.6.7
Mezzanine==3.1.10
Pillow==2.6.1
beautifulsoup4==4.1.3
bleach==1.4
filebrowser-safe==0.3.6
future==0.9.0
grappelli-safe==0.3.13
html5lib==0.999
oauthlib==0.6.3
psycopg2==2.5.4
pytz==2014.7
requests==2.4.3
requests-oauthlib==0.4.2
six==1.8.0
tzlocal==1.0
git+https://github.com/stbarnabas/mezzanine-events
git+https://github.com/fcurella/django-social-share
