{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}



{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">

{% block main %}

<!-- start slider -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
		<!-- Slider -->
        <div id="main-slider" class="flexslider">
        	{% for slide in page.homepage.slides.all %}
        	<ul class="slides">
        		<li>
                	<img src="{{ MEDIA_URL }}{{ slide.image }}" alt="" />
                	<div class="flex-caption">
                		{% if slide.boxtitle %}
                    	<h3>{{ slide.boxtitle }}</h3> 
                    	{% endif %}
                    	{% if slide.content %}
						<p>{{ slide.content }}</p> 
						{% endif %}
						{% if slide.link %}
						<a href="{{ slide.link }}" class="btn btn-theme">More info</a>
						{% endif %}
                	</div>
              	</li>
            </ul>
            {% endfor %}  
		</div>
	<!-- end slider -->
		</div>
	</div>
</div>	
{% endblock %}

{% block right_wrapper %}
{% endblock %}

{% endblock %}

